<h1>Photo Portfolio</h1>
<p><font size=5 face="Arial">Можливість додавати пости із зображеннями, редактувати і видаляти їх</font></p>
<p><font size=5 face="Arial">Коментарі до постів</font></p>
<p><font size=5 face="Arial">Регістрація</font></p>
<p><font size=5 face="Arial">Коротке меню</font></p>
